.container {
    max-width: 750px;
    margin: 0 auto;
}

/* text */

h1, h2, h3, h4, p {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 400;
}

h1 {
    font-size: 3.5em;
    font-weight: 300;
}

h2 {
    color: #7d97ad;
}

hr {
    border: none;
    height: 2px;
    background-color: #7d97ad;
    margin: 0 auto 15px auto;
}

/* image */

img {
    width: 100%;
}

#logo{
    width: 50px;
    padding-top:10px;
}

/* responsive */

@media screen and (max-width: 768px) {
  article {
    margin-bottom: 20px;
    border-bottom: 1px solid #7d97ad;
  }

  article:last-of-type {
    border-bottom: 0;
  }
}
